main{
    display: flex;
    align-items: center;
    height: 100vh;
}
section{
    width: 50%;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background: linear-gradient(315deg, #19A3A6 16.31%, #03355A 100%);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25) inset;
}
#zen{
    color: #FFF;
    font-family: Poppins;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#hosty{
    color: #282828;
    font-family: Poppins;
    font-size: 128px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#loginPainel{
    height: 100vh;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

}
#loginPainel h2{
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    background: linear-gradient(315deg, #19A3A6 0%, #03355A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#loginPainel form{
    display: flex;
    flex-direction: column;

    align-items: center;
}

#loginPainel form input{
    width: 256px;
    height: 50px;

    border-radius: 25px;
    border: 1px solid #10768D;
    background: #FFF;

    padding-left:42px;
}
#loginPainel form input::placeholder{
    color: #7D7D7D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#loginPainel form #email{
    background-image: url(../assets/Vector.svg);
    background-repeat: no-repeat;
    background-position: 15px 19px;
}
#loginPainel form #password{
    margin-top: 60px;
    background-image: url(../assets/lock.svg);
    background-repeat: no-repeat;
    background-position: 15px 15px;
}
#register{
    margin-top: 15px;

    color: #686868;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#register a{
    text-decoration: none;

    color: #10768D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
form #confirmArea{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;

    font-family: Roboto;
    margin-top: 60px;
}
form #confirmArea div{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

form div #entrar{
    width: 300px;
    height: 50px;

    border-radius: 50px;
    background: #10768D;

    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border: none;

    cursor: pointer;
}
form #confirmArea hr{
    width: 132px;

    border: 0.5px solid #10768D;
}

form #confirmArea div p{
    color: #10768D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} 
form #confirmArea #google{
    width: 300px;
    height: 50px;

    display: flex;
    align-items: center;
    padding-left: 68px;

    border-radius: 50px;
    border: 1px solid #10768D;
    background: #FFF;
    background-image: url(../assets/google.svg);
    background-repeat: no-repeat;
    background-position: 10px 9px;

    color: #7D7D7D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    cursor: pointer;
}