#loginPainel h2{
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    background: linear-gradient(315deg, #19A3A6 0%, #03355A 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#loginPainel form{
    display: flex;
    flex-direction: column;

    align-items: center;
}

#loginPainel form input{
    width: 256px;
    height: 50px;

    border-radius: 25px;
    border: 1px solid #10768D;
    background: #FFF;

    padding-left:42px;
}
#loginPainel form input::placeholder{
    color: #7D7D7D;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#loginPainel form #email{
    background-image: url(../assets/Vector.svg);
    background-repeat: no-repeat;
    background-position: 15px 19px;
}
#loginPainel form #password{
    margin-top: 60px;
    background-image: url(../assets/lock.svg);
    background-repeat: no-repeat;
}
#register{
    margin-top: 15px;

    color: #686868;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#register a{
    text-decoration: none;

    color: #10768D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-family: Roboto;

    margin-top: 90px;
}
form div #entrar{
    width: 130px;
    height: 50px;

    border-radius: 50px;
    background: #10768D;

    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border: none;
}
form div p{
    color: #10768D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
form div #google{
    width: 130px;
    height: 50px;

    border-radius: 50px;
    border: 1px solid #10768D;
    background: #FFF;

    color: #7D7D7D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}